<h2><a name="pgb"></a>Project Governing Board (PGB)</h2>
<p>The Project Governing Board provides top-level guidance and strategic direction for the OCA. The Board includes those representatives from OCA Sponsors that have committed to the <a href="https://www.oasis-open.org/resources/projects/cla/projects-view-entity-cla">Entity Contributor Licensing Agreement</a>. Learn how to join the OCA Project Governing Board by <a href="mailto:op-admin@oasis-open.org">emailing us</a>.</p>  

<p>The current list of PGB representatives is <a href="https://github.com/opencybersecurityalliance/oca-admin/blob/master/PROJECT-GOVERNING-BOARD.md">here</a>.</p>
