	<section id="fh5co-work" data-section="projects">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.projects.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.projects.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Params.projects.row }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="{{ .url }}" class="fh5co-project-item image-popup to-animate">
						<img src="img/{{ .img }}" alt="{{ .alt }}" class="img-responsive">
						<div class="fh5co-text">
						<h2>{{ .title }}</h2>
						<span>{{ .subtitle }}</span>
						<p style="color:#818892; font-size: 16px; line-height: 1.5;">{{ .description }}</p>
						</div>
					</a>
				</div>				

				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.projects.footertext | markdownify }}</p>
				</div>
			</div>
		</div>
	</section>
